
body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0.164);
}

section {
    padding: 8px 6em;
    background-color: white;
    min-height: 100vh;
}

img {
    width: 50%;
}

section {
    width: 60em;
    margin: auto;
}

